
.Rhistory
.Rproj.user
models_ibm.RData
Rplot.pdf
Rplot01.pdf
R/Trichogramma-2020_1_experiment-main-text.html
R/Trichogramma-2020_1_experiment-main-text.html
R/Trichogramma-2020_1_experiment-main-text.html
*.Rdata
